<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<div>
    <form method="post">
        <input type="text" name="name" placeholder="Введите имя"/>
        <input type="text" name="email" placeholder="Введите email">
        <button type="submit">Добавить</button>
    </form>
</div>
<div>
    <table border=1 cellpadding=5 style="background-color:#FFFFE0;">
        <tr style="background-color:#FFD700;">
            <td><b>User id</b></td>
            <td><b>Username</b></td>
            <td><b>email</b></td>
        </tr>
        {{#users}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td>{{email}}</td>
            </tr>
        {{/users}}
    </table>
</div>
<br>
<a href="" target="_self">Вернуться в начало</a>
</body>
</html>